*.[ao]
.deps
.dirstamp
Makefile.in
Makefile
stamp-[hi]?
/INSTALL
/aclocal.m4
/autom4te.cache
/compile
/config.*
/configure
/configure.lineno
/depcomp
/install-sh
/intltool-*
/missing
/mkinstalldirs
/m4/intltool.m4
/po/.intltool-*
/po/Makefile.in.in
/po/POTFILES
/ui/kc-*.desktop
/cli/kcplay
/cli/kcrec
/cli/kcsend
/cli/kcterm
/kc-control/kc-control
/kc-keyboard/kc-keyboard
