*.[ao]
.deps
.dirstamp
Makefile.in
Makefile
stamp-[hi]?
/INSTALL
/aclocal.m4
/autom4te.cache
/build/compile
/build/config.*
/build/depcomp
/build/install-sh
/build/intltool.m4
/build/missing
/cli/kcplay
/cli/kcrec
/cli/kcsend
/cli/kcterm
/config*.lineno
/config.log
/config.status
/configure
/intltool-*
/kc-control/kc-control
/kc-keyboard/kc-keyboard
/po/.intltool-*
/po/Makefile.in.in
/po/POTFILES
/ui/kc-*.desktop
